[user]
	name = Jerry Radwick
	email = r2d2@jigarius.com
	signingkey = 37018446F7470B93
[core]
	fileMode = false
	excludesfile = "~/.gitexcludes"
	eol = lf
[push]
	default = simple
	autoSetupRemote = true
[commit]
	gpgsign = true
[alias]
	co = checkout
	st = status
	lo = log --oneline
	ds = diff --staged
	cp = cherry-pick
	ca = commit --amend
	can = commit --amend --no-edit
	bc = branch --show-current
	pt = push -u origin HEAD
	pf = push --force
	fp = fetch --prune
	praise = blame
	sl = stash list
	sp = stash pop
	ba = !git branch | cat
	tc = !git commit -m Temporary -n
[pull]
	ff = only
[init]
	defaultBranch = main
[advice]
	skippedCherryPicks = false
[gpg]
	program = gpg
